.slider-container {
  user-select: none;
}
.slider {
  position: relative;
  .handle {
    position: absolute;
    width: 5px;
    height: 10px;
    background: black;
    transition: left 100ms ease;
  }
  .bar {
    width: 255px;
    height: 5px;
  }
}