.colorSlider {
	position: relative;
	width: 128px;
	height: 10px;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 2.5px 20px -2.5px rgba(0,0,0,.1) inset;
	.colorSlider__handle {
		width: 20px;
		height: 20px;
		position: absolute;
		left: -10px;
		top: -5px;
		background: white;
		box-shadow: 2.5px 2.5px 20px -2.5px rgba(0,0,0,.4);
		border-radius: 50%;
		transition: transform .1s ease;
		&:hover {
			cursor: -webkit-grab;
			cursor: grab;
		}
		&:active {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
	}
}