.colorPicker {
	width: calc(100% - 10px);
	height: 200px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 10px 50px -15px rgba(0,0,0,.2);
	margin: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	.picker__sliderGroup {
		max-width: 80%;
		width: 80%;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
		background: rgba(250,250,252,.85);
		padding: 50px 0;
	}
}