.tool-container {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FCFCFC;
	border-radius: 5px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,0);
	transition: border .25s ease;
	&.active {
		background: white;
		box-shadow: 0 5px 25px -5px rgba(0,0,0,.3);
		border: 1px solid rgb(128, 0, 255);
	}
}