.tool {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FEFEFE;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 0 1px rgba(0,0,0,.2);
	transition: box-shadow .25s ease, transform .4s ease-out;
	&:hover {
		box-shadow: 0 5px 30px -5px rgba(0, 122, 255,.5);
		background: white;
		transform: scale(1.01) translateY(-1px);
	}
	&.tool--active {
		background: linear-gradient(to right, rgb(0, 122, 255) -20%, rgb(90, 200, 250) 120%);
		font-weight: 500;
		color: white;
	}
}