.rim__wrapper {
	width: 200%;
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
	.rim__outline {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: box-shadow .2s ease;
	}
	.rim__separator {
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 120px;
		transition: box-shadow .2s ease;
		background: white;
		cursor: default;
	}
	.rim__fill {
		width: 80%;
		height: 80%;
		border-radius: 50%;
		transition: box-shadow .2s ease;
		cursor: pointer;
	}
}
:host {
	height: 100%;
	width: 35%;
	direction: rtl;
}