.app {
	background: linear-gradient(10deg, #EBEBF0, #F2F2F6);
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -100;
	.app__rightSide {
		position: fixed;
		top: 80px;
		right: 0;
		height: calc(100vh - 80px);
		width: 300px;
		padding: 10px;
		box-shadow: 0 10px 40px -10px rgba(0,0,0,.2);
		border: 1px solid white;
		background: rgba(250,250,252,.9);
		cursor: default;
	}
}