.canvastool {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
	.canvastool__icon {
		width: 20px;
		height: 20px;
		background-image: url(../../../assets/img/inactive/canvastool_inactive.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		&.icon--active {
			background-image: url(../../../assets/img/active/canvastool_active.svg);
		}
	}
}
:host {
	width: 100%;
	height: 100%;
}