.anchor {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 5px;
	height: 5px;
	border: 2px solid rgba(255, 0, 68, .5);
	transition: border .15s ease;
	border-radius: 2px;
	&:hover {
		border: 2px solid rgb(255, 0, 68);
		transition: border .1s ease;
	}
}
.handle {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: rgb(255, 0, 68);
	stroke-width: 1px;
}