.toolbox {
	position: fixed;
	top: 100px;
	left: 0;
	padding: 5px;
	background: rgba(250,250,252,.85);
	box-shadow: 0 10px 40px -10px rgba(0,0,0,.3);
	border: 1px solid #FDFDFD;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	user-select: none;
	cursor: default;
}