.anchor {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 5px;
	height: 5px;
	border: 1px solid rgba(255, 0, 68, .5);
	transition: border .15s ease;
	border-radius: 2px;
	&:hover {
		border: 1px solid rgb(255, 0, 68);
		transition: border .1s ease;
	}
}
.handleLines {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	.handleLines__line {
		fill: none;
		stroke: rgba(255,128,128,.5);
		stroke-width: 1px;
	}
}
.handle-anchor {
	border: 1px solid rgb(88, 86, 214);
	position: absolute;
	top: -3px;
	left: -3px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}