<div>
  rim works!
  {{ selectedAttribute$ | async }}
  {{ fillColor$ | async }}
  {{ outlineColor$ | async }}
  <button
    (click)="selectAttribute('outline')"
  >Change to outline</button>
  <button
    (click)="selectAttribute('fill')"
  >Change to fill</button>
  <button
    (click)="changeFillColor()"
  >Change fill color</button>
  <div class="rim">
    <div
      class="circle-fill"
      [style.background]="fillColor$ | async"
    ></div>
    <div class="circle-outline"></div>
  </div>
</div>
