<div>
  test: {{ test }}
  rim works!
  {{ selectedAttribute$ | async }}
  {{ fillColor$ | async }}
  {{ outlineColor$ | async }}
  <button
    (click)="selectAttribute('outline')"
  >Change to outline</button>
  <button
    (click)="selectAttribute('fill')"
  >Change to fill</button>
  <button
    (click)="changeFillColor()"
  >Change fill color</button>
  <div class="rim">
    <div
      class="circle-fill"
      [ngStyle]="fillStyle$ | async"
    ></div>
    <div
      class="circle-outline"
      [style.border-color]="outlineColor$ | async"
    ></div>
  </div>
  <button
    (click)="incTest()"
  >increase test</button>
</div>
