.rim {
  .circle-fill {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .circle-outline {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
  }
}